absl-py==0.9.0
asgiref==3.3.0
astor==0.8.1
astroid==2.3.3
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.1.0
base32hex==1.0.2
bert-extractive-summarizer==0.5.1
bleach==3.1.4
blis==0.4.1
boto==2.49.0
boto3==1.14.50
botocore==1.17.50 
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chronometry==2020.9.18.2
click==7.1.2
colorama==0.4.3
colouration==2020.7.26
cryptography==3.2.1
cycler==0.10.0
cymem==2.0.4
Cython==0.29.14
dataclasses==0.6
debugpy==1.1.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
disk==2020.9.18.2
distro==1.5.0
Django==3.1.3
django-crispy-forms==1.11.0
docutils==0.15.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
filelock==3.0.12
flashtext==2.7
func-timeout==4.3.5
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
gensim==3.8.3
geographiclib==1.50
geopy==2.0.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.1.8
graphviz==0.13.2
grpcio==1.27.2
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
imutils==0.5.3
iniconfig==1.0.1
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.17.0
jsonschema==2.6.0
jupyter-client==6.1.2
jupyter-core==4.6.3
kiwisolver==1.1.0
langcodes==2.1.0
lazy-object-proxy==1.4.3
lxml==4.4.2
marisa-trie==0.7.5
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
mosspy==1.0.8
murmurhash==1.0.4
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.5
neuralcoref==4.0
nltk==3.5
numpy==1.16.0
oauthlib==3.1.0
opt-einsum==3.2.0
packaging==20.4
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow>=8.0.1
plac==0.9.6
pluggy==0.13.1
preshed==3.0.3
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydotplus==2.0.2
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytorch-pretrained-bert==0.6.2
pytz==2019.3
PyWavelets>=1.1.1
pywinpty==0.5.7
pywsd>=1.2.4
PyYAML==5.3.1
pyzmq==19.0.0
ravenclaw==2020.9.18
rdflib==5.0.0
regex==2020.10.28
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.3
selectivesearch==0.4
Send2Trash==1.5.0
sentencepiece==0.1.94
silverware==2020.9.18.2
six==1.15.0
sklearn==0.0
slytherin==2020.9.18.2
smart-open==2.1.1
sortedcontainers==2.2.2
soupsieve==1.9.5
spacy==2.3.2
SPARQLWrapper==1.8.5
sqlparse==0.4.1
srsly==1.0.3
summarizer==0.0.7
tabula-py==2.2.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
threadpoolctl>=2.1.0
tika==1.24
tokenizers==0.9.2
tornado==6.0.4
tqdm==4.51.0
traitlets==4.3.3
transformers==2.2.2
txt==2020.9.18.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.11
virtualenv==16.7.9
virtualenvwrapper-win==1.2.5
Wand==0.6.3
wasabi==0.8.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
wn==0.0.23
wrapt==1.11.2
XlsxWriter==1.3.7
zipp==3.4.0